attr==0.3.2
ConfigParser==7.2.0
docutils==0.21.2
Flask==3.1.1
flask_cors==6.0.1
flask_openapi3==4.2.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.7
Jinja2==3.1.6
jnius==1.1.0
keyring==24.3.1
lockfile==0.12.2
numpy==2.3.1
protobuf==6.31.1
pydantic==2.11.7
pyOpenSSL==25.1.0
railroad==0.5.0
Sphinx==8.2.3
SQLAlchemy==2.0.35
SQLAlchemy_Utils==0.41.2
thread==2.0.5
win32com==0.0.1
